.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: unset;
  }
}

.footer__address-wrap {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.logo__studio-footer {
  color: var(--logo-white-color);
}

// Footer socials
.footer__socials-wrap {
  flex-basis: 206px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__socials-title {
  @include text($fw: 700);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.socials__link-footer {
  color: var(--main-title-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

// Footer subscribe

.footer__subscribe-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    min-width: 570px;
    margin-left: auto;
  }
}

.footer__subscribe-title {
  @include text($fw: 700);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
