.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  overflow-y: scroll;
}

.mob-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: 48px 25px;
}

.mob-menu__nav-list {
  margin-bottom: -32px;
}

.mob-menu__nav-item {
  margin-bottom: 32px;
}

.mob-menu__nav-link {
  @include text($fw: 500, $fs: 38px, $lh: 1.18, $ls: 0.02em);
  color: var(--nav-color);

  @media screen and (min-width: 480px) {
    @include text($fw: 500, $fs: 40px, $lh: 1.18, $ls: 0.02em);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}
.mob-menu__contacts {
  margin-bottom: 64px;
}
.mob-menu__contacts-item {
  margin-bottom: 32px;
}

.mob-menu__contacts-link--tel {
  @include text($fw: 500, $fs: 30px, $lh: 1.18, $ls: 0.02em);
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    @include text($fw: 500, $fs: 34px, $lh: 1.18, $ls: 0.02em);
  }
}

.mob-menu__contacts-link--email {
  @include text($fw: 500, $fs: 22px, $lh: 1.17, $ls: 0.02em);
  color: var(--main-text-color);

  @media screen and (min-width: 480px) {
    @include text($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__socials {
  display: flex;
  flex-direction: row;
}

.mob-menu__socials-item {
  margin-right: 10px;
}
.mob-menu__socials-link {
  @include text($fw: 500, $fs: 14px, $lh: 1.22, $ls: 0.02em);
  color: var(--accent-color);
  margin-right: 5px;

  @media screen and (min-width: 480px) {
    @include text($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
    margin-right: 10px;
  }
}

.divider {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 0;

  padding: 0;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
.mob-menu__close-icon {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
