:root {
  --main-text-color: #757575;
  --logo-main-color: #2196f3;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --nav-color: #212121;
  --hero-btn-color: #ffffff;
  --hero-btn-bckgr: #2196f3;
  --works-btn-color: #212121;
  --works-btn-bckgr: #f5f4fa;
  --accent-color: #2196f3;
  --cards-border-color: #eeeeee;
  --background-color: #f5f4fa;
  --social-items-color: #afb1b8;
  --social-items-accent-color: #ffffff;
}
